<mat-toolbar color="primary">
    <span>Prijave</span>
    <span class="spacer"></span>

    <form class="kartice-form" *ngIf="kartice.length>0">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Osebe</mat-label>
          <input type="text" matInput [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let kartice of filteredOptions | async" [value]="kartice" (onSelectionChange)='getPosts($event,kartice)'>
              {{kartice.OCJ03_Ime}} 
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <button (click)="Registracija()" mat-icon-button><mat-icon>add</mat-icon></button>  
        <button (click)="Reload()" mat-icon-button><mat-icon>refresh</mat-icon></button>  
      </form>
</mat-toolbar>

<mat-card style="margin: 10px">


<div *ngIf="prijave.length> 0">

        <mat-card *ngFor="let p of prijave"><mat-card-title>{{p.OCJ02_Ime}} {{p.OCJ02_Priimek}}</mat-card-title><mat-card-subtitle>{{getDate(p.OCJ02_Prihod)}}</mat-card-subtitle><mat-card-actions><button mat-icon-button><mat-icon>schedule</mat-icon></button>{{getTime(p.OCJ02_Prihod)}} <button mat-icon-button><mat-icon>timelapse</mat-icon></button>{{getTime(p.OCJ02_Odhod)}}</mat-card-actions></mat-card><br>

</div>
<div *ngIf="prijave.length == 0">
  Ni prijav!
</div>
</mat-card>
